<nav>
    <ul *ngIf="recolher === false else exibir " class="menu-grid">
      <li (click)="clickRecolher()"><a href="#"><mat-icon matTooltip="Menu">menu</mat-icon></a></li>
      <li ><img src="/src/assets/imgs/logoEmerson.png.png" alt=""></li>
      <li><a routerLink=""><mat-icon matTooltip="Home">home</mat-icon></a></li>
      <li><a routerLink="grid">Sobre</a></li>
      <li><a href="#">Skills</a></li>
      <li><a routerLink="home-projetos">Projetos</a></li>
      <li><a routerLink="home-projetos">Contato</a></li>
     
     
    </ul>
  </nav>

  <ng-template #exibir>
    <mat-icon [ngClass]="classTolbar[counter]" (click)="clickRecolher()" matTooltip="Menu">menu</mat-icon>
  </ng-template>